<div class="row header">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-2">
        <img class="logo" src="assets/img/logo_elca.png">
      </div>
      <div class="col-sm-5 brand-name">
        <span class="">Project Information Management</span>
      </div>
    </div>
  </div>
  <div class="col-sm-4 menu-link">
    <div class="row">
      <div class="col-sm-5">
        <a href="#">EN </a> <span class="text-primary">|</span>
        <a class="blue-text" href="#"> FR</a>
      </div>
      <div class="col-sm-2"><a href="#" class="menu-bar-link blue-text">Help</a></div>
      <div class="col-sm-4">
        <a href="#" class="menu-bar-link">Log out</a>
      </div>
    </div>
  </div>
</div>



