<div class="project-list pl-5">
  <div>
    <span class="lable-top">Project List</span>
  </div>
  <form class="my-form" action="">
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Project number name, customer name">
      </div>

      <div class="col-sm-2">
        <select name="project-status" class="form-control" >
          <option disabled selected hidden value="">Project status</option>
          <option value="1">alo</option>
        </select>
      </div>

      <div class="col-sm-2">
        <button class="col-sm-12 btn btn-primary">Search Project</button>
      </div>

      <div class="col-sm-2">
        <a class="col-sm-12">Reset Search</a>
      </div>

    </div>
  </form>

  <div class="row">
    <div class="col-sm-11">
      <table class="table special">
        <thead>
        <tr>
          <th class="check-col"></th>
          <th class="num-col">Number</th>
          <th class="name-col">Name</th>
          <th class="start-col">Status</th>
          <th class="cus-col">Customer</th>
          <th class="start-col">Start Date</th>
          <th class="del-col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th><input type="checkbox" value="" class="table-checkbox"></th>
          <th>b</th>
          <th>c</th>
          <th>d</th>
          <th>e</th>
          <th>f</th>
          <th><i class="fas fa-trash-alt"></i></th>

        </tr>
        <tr>
          <th><input type="checkbox" value="" class="table-checkbox"></th>
          <th>b</th>
          <th>c</th>
          <th>d</th>
          <th>e</th>
          <th>f</th>
          <th><i class="fas fa-trash-alt"></i></th>

        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


