.left-menu{
  background-color: #f5f5f5;
  height: 100vh;
  border-right: #cfcfcf solid 1px;
}
.left-menu a,span{
  padding-left: 40%;
  font-family: "Segoe UI";
  font-weight: 500;
  color: #666666;
}
.selected{
  color: #2F85FA;
}
.lable-top{
  font-size: 18pt;
}
.row{
  padding-top: 20px;
}

