<div class="right-side">
  <div class="col-sm-12 lable-top">
    <span class="">New Project</span>
  </div>

  <div class="col-9 row">
    <div class="col-sm-12 my-wrap-form ">
      <form action="" class="my-form">
        <hr>
        <div class="row my-form-group">
          <div class="col-sm-3">
            <label class="label-required">Project number</label>
          </div>
          <div class="col-sm-3">
            <input class="form-control">
          </div>
        </div>

        <div class="row my-form-group">
          <div class="col-sm-3">
            <label class="label-required">Project name</label>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row my-form-group">
          <div class="col-sm-3">
            <label class="label-required">Customer</label>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row my-form-group">
          <div class="col-sm-3">
            <label class="label-required">Group</label>
          </div>
          <div class="col-sm-3">
            <select name="group" class="form-control">
              <option value="new">New</option>
            </select>
          </div>
        </div>

        <div class="row my-form-group">
          <div class="col-sm-3">
            <label >Members</label>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row my-form-group">
          <div class="col-sm-3">
            <label class="label-required">Status</label>
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row my-form-group">
          <div class="col-sm-3">
            <label class="label-required">Start date</label>
          </div>
          <div class="col-sm-3">
            <input type="date" class="form-control" placeholder="col-form-label">
          </div>
          <div class="col-sm-3">
            <label>End date</label>
          </div>
          <div class="col-sm-3">
            <input type="date" class="form-control" placeholder="col-form-label">
          </div>
        </div>
        <hr>
        <div class="row my-form-group">
          <div class="col-sm-3 offset-6">
            <button class="col-sm-12 btn btn-light btn-cancel">Cancel</button>
          </div>
          <div class="col-sm-3">
            <button class="col-sm-12 btn btn-primary btn-create">Create Project</button>
          </div>
        </div>

      </form>

    </div>
  </div>



</div>




